body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width: 50px;
}

p#result {
  font-size: 24px;
  color: #333;
}
